
  
  

    <div class="topcard">
      <div class="hotcardimg">
        <a href="/posts/<%= post._id %>">
          <img class="img-responsive center-block postphoto" src="/img/<%= post.photo %>">
        </a>
      </div>  

      <div class="toptitle">
        <h5><a href="/posts/<%= post._id %>"><%= post.title %></a></h5>
      </div>    
    </div>
  

    

