<%- include('header') %>


<form class="container form-horizontal signup" method="post" enctype="multipart/form-data" style="font-size: 16px;">
  

  <div class="form-group">
    <label  class="col-sm-3 col-sm-offset-2 control-label">用户名</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="name">
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-3 col-sm-offset-2 control-label">密码</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" name="password">
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-3 col-sm-offset-2 control-label">重复密码</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" name="repassword">
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-3 col-sm-offset-2 control-label">性别</label>
    <div class="col-sm-3">
      <label class="radio-inline">
        <input type="radio" name="gender"  value="m"> 男
      </label>
      <label class="radio-inline">
        <input type="radio" name="gender"  value="f"> 女
      </label>
      <label class="radio-inline">
        <input type="radio" name="gender"  value="x"> 保密
      </label>
    </div>
  </div>
 
  <div class="form-group">
    <label  class="col-sm-3 col-sm-offset-2 control-label">头像</label>
    <div class="col-sm-3">
      <input type="file" name="avatar" >
    </div>
  </div>
 
  <div class="form-group">
    <label  class="col-sm-3 col-sm-offset-2 control-label">个人简介</label>
    <div class="col-sm-3">
      <textarea class="form-control" rows="4" name="bio"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-3">
      <button type="submit" class="btn btn-primary btn-block" value="注册">注&nbsp&nbsp册</button>
    </div>
  </div>

</form>



<%- include('footer') %>


